<!DOCTYPE html>
<html lang="es">
  <head>

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style/parametres.css')}}" >

    <title>OpenCV</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>


  <body onload="click()" style="height: 1300px;">
    

    <ul>
      <li><a href="/frame">Primer Frame </a></li>
      <li><a href="/">Videos en directe</a></li>
      <li><a class="active" href="/parametres"> Parametrització</a></li>
      <li><a href="/angles">Objectes i Angles </a></li>

    </ul>
 
    <img id=logo src="{{ url_for('static', filename='img/nomgran.jpg') }}">

    <h1 id =parametritzacio> <b>Parametrització</b> </h1>
  

    <form action="#" method="post">
      <span id=parametres_span_left>
      
        <span id = span_titol_params>
          <h1 class = titol_parametres> Àrea Mínima </h1>
          <h1 class = titol_parametres> Àrea Màxima </h1>
          <h1 class = titol_parametres> Color Blob </h1>
          <h1 class = titol_parametres id="minDistBetweenBlobs_sentence"> Distància Mínima entre Blobs </h1>
          <h1 class = titol_parametres> Mínim Threshold </h1>
          <h1 class = titol_parametres> Màxim Threshold </h1>
          <h1 class = titol_parametres> Threshold Step </h1>
        </span>

        {% if param_flagg == True %}
        <span id = span_valors_params> 
          <p><input class="input_params" id="minArea" name = "minArea" type=number min=1 max=99999 value={{minAreaResp}} ></p> 
          <p><input class="input_params" id="maxArea" name = "maxArea" type=number min=1 max=99999 value={{maxAreaResp}} ></p>
          <p><input class="input_params" id="blobColor" name = "blobColor" type=number min=0 max=255 value={{blobColorResp}} ></p>
          <p><input class="input_params" id="minDistBetweenBlobs" name = "minDistBetweenBlobs" type=number min=0 max=99999 value={{minDistResp}}></p>
          <p><input class="input_params" id="minThreshold"  name = "minThreshold" type=number min=0 max=255 value={{minThresholdResp}}></p>
          <p><input class="input_params" id="maxThreshold" name = "maxThreshold" type=number min=0 max=255 value={{maxThresholdResp}}></p>
          <p><input class="input_params" id="thresholdStep" name = "thresholdStep" type=number min=0 max=255 value={{thresholdStepResp}}></p>
        </span>
        {% else %}
        <span id = span_valors_params>
          <p><input class="input_params" id="minArea" name = "minArea" type=number min=1 max=99999 value={{minAreaR}} ></p>
          <p><input class="input_params" id="maxArea" name = "maxArea" type=number min=1 max=99999 value={{maxAreaR}} ></p>
          <p><input class="input_params" id="blobColor" name = "blobColor" type=number min=0 max=255 value={{colorBlobR}} ></p>
          <p><input class="input_params" id="minDistBetweenBlobs" name = "minDistBetweenBlobs" type=number min=0 max=99999 value={{minDistR}}></p>
          <p><input class="input_params" id="minThreshold" name = "minThreshold" type=number min=0 max=255 value={{minThresholdR}}></p>
          <p><input class="input_params" id="maxThreshold" name = "maxThreshold" type=number min=0 max=255 value={{maxThresholdR}}></p>
          <p><input class="input_params" id="thresholdStep" name = "thresholdStep" type=number min=0 max=255 value={{thresholdStepR}}></p>
        </span>
        {% endif %}
        
        <p><input  id=guardar_params type="submit" name="enviar_parametres"/> </p>

      

      </span>

      <span id=parametres_span_right>

      

        <span>
          <h1 class = titol_parametres> Mínima Repetibilitat </h1>
          <h1 class = titol_parametres> Mínima Circularitat </h1>
          <h1 class = titol_parametres> Màxima Circularitat </h1>
          <h1 class = titol_parametres> Mínima Convexitat </h1>
          <h1 class = titol_parametres> Màxima Convexitat </h1>
          <h1 class = titol_parametres> Mínima Inertia </h1>
          <h1 class = titol_parametres> Màxima Inertia </h1>
        </span>
      
        {% if param_flagg == True %}

        <span id= span_valors_params2>
          <p><input class="input_params" id="minRepeatability" name = "minRepeatability" type=number min=1 max=9999 value={{minRepeatabilityResp}}></p>
          <p><input class="input_params" id="minCircularity" name = "minCircularity" type=number min=0 max=1 value= {{minCircularityResp}} step=0.01></p>
          <p><input class="input_params" id="maxCircularity" name = "maxCircularity" type=number min=0 max=1 value= {{maxCircularityResp}} step=0.01></p>
          <p><input class="input_params" id="minConvexity" name = "minConvexity" type=number min=0 max=1 value= {{minConvexityResp}} step=0.01></p>
          <p><input class="input_params" id="maxConvexity" name = "maxConvexity" type=number min=0 max=1 value= {{maxConvexityResp}} step=0.01></p>
          <p><input class="input_params" id="minInertiaRatio" name = "minInertiaRatio" type=number min=0 max=1 value={{minInertiaRatioResp}} step=0.01></p>
          <p><input class="input_params" id="maxInertiaRatio" name = "maxInertiaRatio" type=number min=0 max=1 value={{maxInertiaRatioResp}} step=0.01></p>
        </span>  

        {% else %}

        <span id= span_valors_params2>
          <p><input class="input_params" id="minRepeatability" name = "minRepeatability" type=number min=1 max=9999 value={{minRepeatabilityR}}></p>
          <p><input class="input_params" id="minCircularity" name = "minCircularity" type=number min=0 max=1 value={{minCircularityR}} step=0.01></p>
          <p><input class="input_params" id="maxCircularity" name = "maxCircularity" type=number min=0 max=1 value={{maxCircularityR}} step=0.01></p>
          <p><input class="input_params" id="minConvexity" name = "minConvexity" type=number min=0 max=1 value={{minConvexityR}} step=0.01></p>
          <p><input class="input_params" id="maxConvexity" name = "maxConvexity" type=number min=0 max=1 value={{maxConvexityR}} step=0.01></p>
          <p><input class="input_params" id="minInertiaRatio" name = "minInertiaRatio" type=number min=0 max=1 value={{minInertiaRatioR}} step=0.01></p>
          <p><input class="input_params" id="maxInertiaRatio" name = "maxInertiaRatio" type=number min=0 max=1 value={{maxInertiaRatioR}} step=0.01></p>
        </span>
        
        {% endif %}
        
        <p><input  id=guardar_params type="submit" name="enviar_parametres"/> </p>
      </span>

    </form>
    
    

    <img id="kp_video" src="{{ url_for('video7') }}">
    

    
    <button id="paramsDefecte" onclick="ParamsDefecte()"> Parametres Per Defecte </button>
    <button id="netejar" onclick="Clean()"> Netejar Parametres </button>
    <!-- <button onclick="Save()"> Guardar parametres </button>
    <button onclick="Show()"> Mostrar  guardats </button>  -->
    
    <input type="file" name="inputfile" id="inputfile"> 
    <br> 
    <pre id="output"></pre> 
    
    <!--
    <form action="/llegirXML" method="POST">
      <input id="llegir_arxiu" type="submit" value="Carregar Configuracio XML">  </input>
    </form>
    -->
    <script type="text/javascript"> 
      
      lastParam_flagg = false;



      function ParamsDefecte(){
        document.getElementById("minArea").value = "150";
        document.getElementById("maxArea").value = "1500";
        document.getElementById("blobColor").value = "0";
        document.getElementById("minDistBetweenBlobs").value = "10";
        document.getElementById("minThreshold").value = "100";
        document.getElementById("maxThreshold").value = "255";
        document.getElementById("thresholdStep").value = "200";
        document.getElementById("minRepeatability").value = "1";
        document.getElementById("minCircularity").value = "0";
        document.getElementById("maxCircularity").value = "0.5";
        document.getElementById("minConvexity").value = "0.4";
        document.getElementById("maxConvexity").value = "1";
        document.getElementById("minInertiaRatio").value = "0";
        document.getElementById("maxInertiaRatio").value = "0.1";
      }

  
      function Clean(){
        document.getElementById("minArea").value = "";
        document.getElementById("maxArea").value = "";
        document.getElementById("blobColor").value = "";
        document.getElementById("minDistBetweenBlobs").value = "";
        document.getElementById("minThreshold").value = "";
        document.getElementById("maxThreshold").value = "";
        document.getElementById("thresholdStep").value = "";
        document.getElementById("minRepeatability").value = "";
        document.getElementById("minCircularity").value = "";
        document.getElementById("maxCircularity").value = "";
        document.getElementById("minConvexity").value = "";
        document.getElementById("maxConvexity").value = "";
        document.getElementById("minInertiaRatio").value = "";
        document.getElementById("maxInertiaRatio").value = "";
      
      }

      /*
      
      function Save(){
        
        minarea = document.getElementById("minArea").value;
        maxarea = document.getElementById("maxArea").value;
        blobcolor = document.getElementById("blobColor").value;
        mindistbetweenblobs = document.getElementById("minDistBetweenBlobs").value;
        minthreshold = document.getElementById("minThreshold").value;
        maxthreshold = document.getElementById("maxThreshold").value;
        thresholdstep = document.getElementById("thresholdStep").value;
        
    
      }
      function Show() {
        minArea.value = minarea;
        maxArea.value = maxarea;
        blobColor.value = blobcolor;
        minDistBetweenBlobs.value = mindistbetweenblobs;
        minThreshold.value = minthreshold;
        maxThreshold.value = maxthreshold;
        thresholdStep.value = thresholdstep;

      }
      */
    </script>

    <script type="text/javascript"> 
      document.getElementById('inputfile').addEventListener('change', function() { 
        
        var name = document.getElementById('inputfile');
        var nom_arxiu = name.files.item(0).name;
        var mida_arxiu = name.files.item(0).size;
        var tipus_arxiu = name.files.item(0).type;

        alert(nom_arxiu);
        alert(mida_arxiu);
        alert(tipus_arxiu);

        var fr=new FileReader(); 
      
        fr.onload=function(){ 
          
          document.getElementById('output').textContent=fr.result; 
        } 
        fr.readAsText(this.files[0]);   
      }) 

      

    </script> 

  </body>
  <footer id=footer> 

  </footer>
</html>





